#root {
  margin: 20px;
  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }
}

canvas {
  transform: rotateX(180deg);
  border: 1px solid #000;
}

.commandContainer {
  button {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80px;
    height: 32px;
    cursor: pointer;
    margin-right: 12px;
  }
}

.commandHistory {
  display: inline-block;
  ul {
    max-height: 220px;
    overflow: auto;
    :first-child {
      background-color: aquamarine;
      opacity: 1;
    }
    li {
      opacity: 0.5;
      padding-right: 8px;
    }
  }
}
